#game-window{
    width: 1300px;
    height: 700px;
    position: relative;
    background-image: url("images/grassbg2.jpg");
    margin: auto;
    z-index: 0;
}

#player{
    z-index: 2;
    width: 48px;
    height: 64px;
    position: absolute;
}

#door{
    z-index: 1;
    width: 192px;
    height: 128px;
    position: absolute;
}

.bush{
    z-index: 0;
    width: 50px;
    height: 40px;
    position: absolute;
    background-image: url("images/shrub.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
}

.tree{
    z-index: 1;
    width: 100px;
    height: 150px;
    position: absolute;
    background-image: url("images/tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
}

.wall{
    z-index: 0;
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url("images/wall.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    border: solid black 1px;
}
